@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class='col-12'>
    <div class="card bg-dark text-white">
        <img class="card-img" src="~/images/banner/hero_banner.png" alt="Card image">
    </div>
    <br>
    <br>

    <nav id="navbar-example2" style="border: none" class="navbar navbar-light bg-light">
        <ul class="nav nav-pills">
            <li class="nav-item" style="width: 30%; margin: 0 5px">
                <a class="nav-link" href="#scrollspyHeading1"><img style="border-radius: 30px; max-width: 8rem; max-height: 16rem; object-fit: cover;" src="~/images/tabs/tab_curtain.png" alt="Card image"></a>
            </li>
            <li class="nav-item" style="width: 30%; margin: 0 5px">
                <a class="nav-link" href="#scrollspyHeading2"><img style="border-radius: 30px; max-width: 8rem; max-height: 16rem; object-fit: cover;" src="~/images/tabs/tab_eyelet.png" alt="Card image"></a>
            </li>
            <li class="nav-item" style="width: 30%; margin: 0 5px">
                <a class="nav-link" href="#scrollspyHeading3"><img style="border-radius: 30px; max-width: 8rem; max-height: 16rem; object-fit: cover;" src="~/images/tabs/tab_sofacover.png" alt="Card image"></a>
            </li>
        </ul>
    </nav>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div id="scrollspyHeading1"></div>
        <br />
        <br />
        <h2 id="scrollspyHeading1">চায়না পর্দা</h2>
        <div class="row">
            @foreach (var item in Model.Curtains)
            {
                <section class="col-lg-4 col-md-6 py-3">
                    <div class="card" style="margin: auto; border: none">
                        <a asp-action="Curtains" asp-route-id="@item.Id">
                            <img class="card-img-top" style="max-height: 22rem; object-fit: contain; border-radius: 30px" src="@item.ImageUrl" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5><strong>@item.Name</strong></h5>
                            @*<p>@item.Description</p>*@
                        </div>
                    </div>
                </section>
            }
        </div>
        <div id="scrollspyHeading2"></div>
        <br />
        <br />
        <h2 id="scrollspyHeading2">পর্দা আইলেট</h2>
        <div class="row">
            @foreach (var item in Model.Eyelets)
            {
                <section class="col-lg-4 col-md-6 py-3">
                    <div class="card" style="margin: auto; border: none">
                        <a asp-action="Eyelets" asp-route-id="@item.Id">
                            <img class="card-img-top" style="max-height: 22rem; object-fit: contain; border-radius: 30px" src="@item.ImageUrl" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5><strong>@item.Name</strong></h5>
                            @*<p>@item.Description</p>*@
                        </div>
                    </div>
                </section>
            }
        </div>
        <div id="scrollspyHeading3"></div>
        <br />
        <br />
        <h2 id="scrollspyHeading3">সোফা কাপড়</h2>
        <div class="row">
            @foreach (var item in Model.SofaCovers)
            {
                <section class="col-lg-4 col-md-6 py-3">
                    <div class="card" style="margin: auto; border: none">
                        <a asp-action="SofaCovers" asp-route-id="@item.Id">
                            <img class="card-img-top" style="max-height: 22rem; object-fit: contain; border-radius: 30px" src="@item.ImageUrl" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5><strong>@item.Name</strong></h5>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </section>
            }
        </div>
        <br>
        <br>
    </div>
</div>
